<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h1 class="pull-left">Contacts</h1>
                <a [routerLink]="['new']" class="pull-right btn btn-success">New Contact</a>
            </div>
            <div class="panel-body">
                <app-contact-item
                *ngFor="let contact of contacts"
                [contact]="contact"></app-contact-item>
            </div>
          </div>
    </div>
</div>